.home-wrap {
    background-color: #111629;

    & .bg {
        width: 100vw;
        height: 800px;
        position: absolute;
        left: 0;
        right: 0;
        background-size: cover;
        &.bg1 {
            background: url(../../assets/bg1.png) no-repeat center;
            background-size: cover;
            top: 1764px;
        }
        &.bg2 {
            top: 2928px;
            background: url(../../assets/bg2.png) no-repeat center;
            background-size: cover;
        }
        &.bg3 {
            top: 4091px;
            background: url(../../assets/bg3.png) no-repeat center;
            background-size: cover;
        }
        &.bg4 {
            top: 5254px;
            background: url(../../assets/bg4.png) no-repeat center;
            background-size: cover;
        }
        &.bg5 {
            top: 6418px;
        }
        &.bg6 {
            top: 7582px;
            background: url(../../assets/bg6.png) no-repeat center;
            background-size: cover;
        }
        &.bg7 {
            top: 8744px;
        }
        &.bg8 {
            top: 9909px;
            background: url(../../assets/bg8.png) no-repeat center;
            background-size: cover;
        }
        &.bg9 {
            top: 11072px;
        }
        &.bg10 {
            top: 12235px;
        }
    }

    & .section-first {
        width: 100vw;
        height: 1100px;
        background: url(../../assets/bg.png) no-repeat center;
        background-size: cover;
        justify-content: flex-start;

        &.last {
            height: auto;
            background-image: none;
            // padding-top: 60px;
            margin-top: 160px;
        }

        & .logo-icon {
            width: 114px;
            height: 32px;
            margin-bottom: 152px;
            margin-top: 16px;
        }

        & .line {
            width: 8px;
            height: 2px;
            background: rgba(255,255,255,0.8);
            margin: 0 8px;
        }

        & .title-s {
            font-size: 18px;
            color: rgba(255,255,255,0.8);
            line-height: 19px;
        }

        & .title {
            margin-top: 8px;
            font-size: 48px;
            color: #FFFFFF;
        }

        & .sub-title {
            margin-top: 16px;
            font-size: 24px;
            color: rgba(255,255,255,0.8);
        }

        & .btn {
            width: 200px;
            height: 48px;
            background: #BA2BFF;
            border-radius: 8px;
            font-size: 16px;
            color: rgba(255,255,255,0.9);
            line-height: 56px;
            justify-content: center;
            text-decoration: none;
            margin: 78px 20px 120px;

            &.right {
                background-color: #429FE7;
            }
        }

        & .window-icon {
            width: 20px;
            height: 20px;
            margin-right: 12px;
        }
    }

    & .img1 {
        width: 1200px;
        height: 752px;
    }

    & .section-title {
        margin-top: 100px;
        font-size: 48px;
        color: rgba(255,255,255,0.9);
    }

    & .section-sub-title {
        font-size: 22px;
        color: rgba(255,255,255,0.4);
        line-height: 30px;
        margin-top: 24px;
    }

    & .content-wrap {
        width: 1200px;
        margin: 0 auto;
        // justify-content: flex-start;
        align-items: flex-start;
        z-index: 9;
        position: relative;
        & .icons {
            width: 64px;
            height: 67px;
            margin-top: 160px;
            
        }

        & .h1 {
            font-size: 38px;
            color: rgba(255,255,255,0.9);
            margin-top: 32px;
        }
        & .h2 {
            margin-top: 12px;
            font-size: 22px;
            color: rgba(255,255,255,0.6);
        }
        & .h-line {
            width: 20px;
            height: 4px;
            background: #838EF1;
            margin-top: 32px;
            margin-bottom: 20px;
        }
    }

    & .code-img {
        width: 160px;
        height: 160px;
        border-radius: 8px;
    }

    & .code-text {
        margin-top: 16px;
        font-size: 16px;
        color: rgba(255,255,255,0.6);
    }

    & .bottom-logo-icon {
        width: 114px;
        height: 32px;
        margin-top: 156px;
        margin-bottom: 26px;
    }

    & .copyright {
        padding-bottom: 30px;
        font-size: 16px;
        font-family: Microsoft YaHei, Microsoft YaHei;
        font-weight: 400;
        color: rgba(255,255,255,0.6);
        text-align: center;
    }
}